<div class="container">

  <h1>Distributor Management</h1>

  <h2>{{ isEditMode ? 'Edit Distributor' : 'Add Distributor' }}</h2>

  <form [formGroup]="distributorForm" (ngSubmit)="addDistributor()">

    <!-- Distributor Name -->
    <div>
      <label>Distributor Name <span class="required">*</span></label>
      <input type="text" formControlName="name">
      @if (distributorForm.controls.name.touched &&
     distributorForm.controls.name.hasError('required')) {
  <small>Distributor Name is required.</small>
}
    </div>

    <!-- Distributor Code -->
    <div>
      <label>Distributor Code <span class="required">*</span></label>
      <input type="text" formControlName="code">

      @if (codeExists) {
        <small>Distributor Code already exists.</small>
      }
      @if (distributorForm.controls.code.touched &&
     distributorForm.controls.code.hasError('required')) {
  <small>Distributor Code is required.</small>
}
    </div>

    <!-- Contact Person -->
    <div>
      <label>Contact Person <span class="required">*</span></label>
      <input type="text" formControlName="contactPerson">
      @if (distributorForm.controls.contactPerson.touched &&
     distributorForm.controls.contactPerson.hasError('required')) {
  <small>Contact Person is required.</small>
}
    </div>

    <!-- Mobile Number -->
    <div>
  <label>Mobile Number <span class="required">*</span></label>

  <input
    type="tel"
    formControlName="mobile"
    maxlength="10"
    inputmode="numeric"
  >

  @if (distributorForm.controls.mobile.touched &&
       distributorForm.controls.mobile.hasError('required')) {
    <small>Mobile Number is required.</small>
  }

  @if (distributorForm.controls.mobile.touched &&
       !distributorForm.controls.mobile.hasError('required') &&
       distributorForm.controls.mobile.hasError('pattern')) {
    <small>Mobile Number must contain exactly 10 digits.</small>
  }
</div>

    <!-- City -->
    <div>
      <label>City <span class="required">*</span></label>
      <input type="text" formControlName="city">
      @if (distributorForm.controls.city.touched &&
     distributorForm.controls.city.hasError('required')) {
  <small>City is required.</small>
}
    </div>

    <!-- Status -->
    <div>
      <label>Status <span class="required">*</span></label>

      <select formControlName="status">
        <option value="Active">Active</option>
        <option value="Inactive">Inactive</option>
      </select>
    </div>

    <!-- Add Button -->
    <button type="submit">
  {{ isEditMode ? 'Update Distributor' : 'Add Distributor' }}
</button>

  </form>

  <!-- Distributor List -->
  <h2>Distributor List</h2>
  <div class="search-box">
  <label>Search by Distributor Name</label>

  <input
    type="text"
    [(ngModel)]="searchText"
    (input)="applySearch()"
    placeholder="Enter distributor name"
  >
</div>
   
  <table>
    <thead>
      <tr>
        <th>Distributor Name</th>
        <th>Distributor Code</th>
        <th>Contact Person</th>
        <th>Mobile Number</th>
        <th>City</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>

      @for (distributor of filteredDistributors; track $index) {
        <tr>
          <td>{{ distributor.name }}</td>
          <td>{{ distributor.code }}</td>
          <td>{{ distributor.contactPerson }}</td>
          <td>{{ distributor.mobile }}</td>
          <td>{{ distributor.city }}</td>
           <td>
  <span
    class="status-badge"
    [class.active]="distributor.status === 'Active'"
    [class.inactive]="distributor.status === 'Inactive'"
  >
    {{ distributor.status }}
  </span>
</td>
          <td>
            <button type="button" (click)="editDistributor(distributor)">Edit</button>
            <button type="button" (click)="deleteDistributor(distributor)">Delete</button>
      
          </td>
        </tr>
      }

    </tbody>
  </table>

</div>